{% extends 'base.html.twig' %}

{% block css %}
html, body {
    height:100% !important;
}
{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12 col-md-6">
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-6 col-md-8">
                        <img src="./images/logo.jpg" class="img-fluid mx-auto text-center" alt="Logo ASCM">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-file-text"></i> Créer une feuille de match</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Message:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                      </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
